@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
button:focus {
  box-shadow: none !important;
  outline: none !important;
  --tw-ring-shadow: none !important;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide native select arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

select::-ms-expand {
  display: none;
}